{% extends 'base.html.twig' %}

{% block title %}Trajet{% endblock %}

{% block body %}
    <h1>Trajet</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ trajet.id }}</td>
        </tr>
        <tr>
            <th>Places</th>
            <td>{{ trajet.places }}</td>
        </tr>
        <tr>
            <th>Datetime</th>
            <td>{{ trajet.datetime ? trajet.datetime|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Passagers</th>
            <td>
                <ul>
                    {% for passager in trajet.passager %}
                        <li>{{ passager.username }}
                            {% if app.user == trajet.conducteur %}
                                <a href="{{ path('trajet_remove_user', {'id_trajet' : trajet.id, 'id_user' : passager.id}) }}">remove</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tbody>
    </table>

    <a href="{{ path('trajet_index') }}">back to list</a>

    <a href="{{ path('trajet_edit', {'id': trajet.id}) }}">edit</a>

    {{ include('trajet/_delete_form.html.twig') }}
{% endblock %}
